
html{
  height:100vh;
  background-color: rgb(245,245,245);

}



body{
  height:100vh;
}

.App {
  font-family:Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}



.container{
  max-width: 1200px;
  height:100%;
}

.side-nav{
  background-color: white;
  height: 99vh;
}


a{
  text-decoration: none;
}